<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marker Animations</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    Lat:<input id="latbox" name="lat" val="" />
    Long:<input id="lngbox" name="long" val="" />
    <input id="address" type="textbox" value="">
    <input type="button" value="Geocode" onclick="codeAddress()">
    <div id="map"></div>
    <script>

// The following example creates a marker in Stockholm, Sweden using a DROP
// animation. Clicking on the marker will toggle the animation between a BOUNCE
// animation and no animation.

var marker;
var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 59.325, lng: 18.070}
  });

  marker = new google.maps.Marker({
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: {lat: 59.327, lng: 18.067}
  });

  google.maps.event.addListener(marker, 'dragend', function (event) {
    //console.log("holi");
    document.getElementById("latbox").value = this.getPosition().lat();
    document.getElementById("lngbox").value = this.getPosition().lng();
    console.log(this.getPosition().lat());
    console.log(this.getPosition().lng());
});
geocoder = new google.maps.Geocoder();
}
function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
          console.log(results);
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            if(marker){
              marker.setMap(null);
            }
            map.setZoom(18);
            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: results[0].geometry.location

            });
            google.maps.event.addListener(marker, "dragend", function() {
              document.getElementById('latbox').value = marker.getPosition().lat();
              document.getElementById('lngbox').value = marker.getPosition().lng();
            });
            document.getElementById('latbox').value = marker.getPosition().lat();
            document.getElementById('lngbox').value = marker.getPosition().lng();
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }


    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQSs659gWdskg7-bdZjcOaCDIUD-QgtBA&signed_in=true&callback=initMap"></script>
  </body>
</html>
